.draggable {
  transition: transform 0.1s ease-in-out;
  cursor: move;
}

.draggable:hover {
  transform: scale(0.995);
}

.animate-pop {
  animation: pop 0.3s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Escala hacia arriba */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño original */
  }
}
