@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
  themes: [ "light", "dark", "cupcake"];
}

/* Definimos los estilos globales dentro de la capa @layer */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  body {
    /* Usa @apply dentro de la capa de estilos base */
    @apply text-black bg-slate-100;
  }
}
